<div ng-controller='JobsController'>

  <ul class="nav nav-tabs span7" id='job_tabs'>
    <li ng-click='toggle_view()' ng-class="form" id='job_form_tab'><a href="#">New Job</a></li>
    <li ng-click='toggle_view()' ng-class="preview" id='job_preview_tab'><a>Preview</a></li>
  </ul>

  <form class="well span6" ng-hide='preview' >
    <div class="control-group">
      <label class="control-label"><strong>Job Title</strong></label>
      <div class="controls">
        <input type="text" class="span6" ng-model='job_title' />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><strong>Company name</strong></label>
      <div class="controls">
        <input type="text" class="input-xlarge span6" ng-model='company_name' />
      </div>
    </div>


    <div class="control-group">
      <label class="control-label"><strong>Job Description</strong></label>
      <div class="controls">
        <textarea ng-model='job_description' class="input-xlarge span6" id="textarea" rows="3"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><strong>Skills & requirements</strong></label>
      <div class="controls">
        <textarea ng-model='requirement' class="input-xlarge span6" id="textarea" rows="3"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><strong>Key Technologies or Roles</strong> up to 5, seperated by spaces</label>
      <div class="controls">
        <input type="text" class="input-xlarge span6" ng-model='technologies' />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><strong>About the company</strong></label>
      <div class="controls">
        <textarea ng-model='company_description' class="input-xlarge span6" id="textarea" rows="3"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><strong>Company website URL</strong></label>
      <div class="controls">
        <input type="text" class="input-xlarge span6" ng-model='company_website' />
      </div>
      <p class='help-block'>e.g. "http://wwww.mycompany.com"
    </div>

    <div class="form-actions">
      <button ng-click="toggle_view()" class='btn btn-success' id='job_preview'>
        Preview Post
      </button>
    </div>
  </form>

  <div id="job_preview" ng-show='preview' class='span6'>
    <h1>header</h1> 
  </div>
</div>
