<div ng-controller='JobsController'>

  <ul class="nav nav-tabs span7" id='job_tabs'>
    <li ng-click='toggle_view()' ng-class="form" id='job_form_tab'><a href="#">New Job</a></li>
    <li ng-click='toggle_view()' ng-class="preview" id='job_preview_tab'><a>Preview</a></li>
  </ul>

  <div ng-show='form'>
    <h2> Job Posting </h2>
    <br />
    <form class="well span6" ng-show='form' >
      <div class="control-group">
        <label class="control-label"><strong>Job Title</strong></label>
        <div class="controls">
          <input type="text" class="span6" placeholder='Software Engineer' ng-model='job_title' />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>Company name</strong></label>
        <div class="controls">
          <input placeholder='e.g. Apple Inc' type="text" class="input-xlarge span6" ng-model='company_name' />
        </div>
      </div>


      <div class="control-group">
        <label class="control-label"><strong>Job Description</strong></label>
        <div class="controls">
          <textarea placeholder='e.g. Design an develop applications for people' ng-model='job_description' class="input-xlarge span6" id="textarea" rows="3"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>Skills & requirements</strong></label>
        <div class="controls">
          <textarea placeholder='2 Years experience with iOS' ng-model='requirements' class="input-xlarge span6" id="textarea" rows="3"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>Key Technologies or Roles</strong> up to 5, seperated by commas</label>
        <div class="controls">
          <input ng-list placeholder='e.g. Microsoft Excel, Javscript, Ruby, Communications' type="text" class="input-xlarge span6" ng-model='technologies' />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>About the company</strong></label>
        <div class="controls">
          <textarea placeholder="Apple Inc. (NASDAQ: AAPL; formerly Apple Computer, Inc.) is an American multinational corporation that designs and sells consumer electronics, computer software, and personal computers" ng-model='company_description' class="input-xlarge span6" id="textarea" rows="3"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>Company website URL</strong></label>
        <div class="controls">
          <input placeholder="www.apple.com" type="text" class="input-xlarge span6" ng-model='company_website' />
        </div>
      </div>

      <div class="form-actions">
        <button ng-click="toggle_view()" class='btn btn-success' id='job_preview'>
          Preview Post
        </button>
      </div>
    </form>
  </div>

  <div ng-show='preview'>
    <h2> Preview </h2>
    <br />
    <div id="job_preview_contents" ng-show='preview' class='well span6'>
      <h1>{{job_title}}</h1>
      <a ng-href="{{company_website}}">{{company_name}}</a>

      <hr />
      <h2>Job Description</h2>
      <p>{{job_description}}</p> 
      <br /><hr />

      <h2>Skills & Requirements</h2>
      <p>{{requirements}}</p>
      <br /><hr />

      <h2>Company Description</h2>
      <p>{{company_description}}</p>
      <br /><hr />

      <h2>Technologies & Roles</h2>
      <p>
      <span ng-repeat='t in technologies' class="label label-info ">{{t}}</span>
      </p>

      <div class="form-actions">
        <button ng-click="toggle_view()" class='btn btn-primary' id='job_preview'>
          Edit Post
        </button>

        <button ng-click="create()" class='btn btn-success' id='job_publish'>
          Publish
        </button>
      </div>
    </div>
  </div>
</div>
