<h2> Preview </h2>
<br />
<div id="job_preview_contents" ng-show='preview' class='well span6'>
  <h1>{{job_title}}</h1>
  <a ng-href="{{company_website}}">{{company_name}}</a>

  <hr />
  <h2>Job Description</h2>
  <p>{{job_description}}</p> 
  <br /><hr />

  <h2>Skills & Requirements</h2>
  <p>{{requirements}}</p>
  <br /><hr />

  <h2>Company Description</h2>
  <p>{{company_description}}</p>
  <br /><hr />

  <h2>Technologies & Roles</h2>
  <p>
  <span ng-repeat='t in technologies' class="label label-info ">{{t}}</span>
  </p>

  <div class="form-actions">
    <button ng-click="toggle_view()" class='btn btn-primary' id='job_preview'>
      Edit Post
    </button>

    <button ng-click="create()" class='btn btn-success' id='job_publish'>
      Publish
    </button>
  </div>
</div>
