<div class='row-fluid'>
  <input type='search' class='form-search span12' placeholder='Campaign' />
</div>
<div class='row-fluid'>
  <ul class="well nav nav-list">
    <li class="nav-header">
    Campaign Details
    </li>

    <li>
    <a href="#">
      Job Posting
    </a>
    </li>
    <li>
    <a href="#">
      Analytics
    </a>
    </li>
    <li>
    <a href="#">
      Applications
    </a>
    </li>

    <hr />
    <li class='nav-header'>
    Admin
    </li>
    <li>
    <a href="#">
      Reports 
    </a>
    </li>
    <a href="#">
      Contributers
    </a>
    </li>

    <hr />
    </li>
    <a href="#">
      Help
    </a>
    </li>
  </ul>
</ul>

