<html ng-app='appify'>
  <head>
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <script src="/assets/angular.js"></script>
    <script src="/assets/angular-resource.js"></script>
    <script src="/assets/angular-mocks.js"></script>

    <script src="/lib/js/config/router.js"></script>

    <script src="/lib/js/services.js"></script>
    <script src="/lib/js/controllers/main_controller.js"></script>
    <script src="/lib/js/controllers/jobs_controller.js"></script>
    <script src="/lib/js/controllers/jobs_index_controller.js"></script>
    <script src="/lib/js/controllers/jobs_show_controller.js"></script>
    <script src="/lib/js/controllers/image_switch_controller.js"></script>
    <link rel="stylesheet" href="/lib/css/bootstrap-extensions.css">
    <meta name='viewport' content="width=device-width", initial-scale='1.0' />
  </head>
  <body>
    <div class='container'>
      <div ng-include src="'/lib/partials/navigation/navbar.html'"> </div>
      <div class="row-fluid">
        <div class="span2" ng-include="'/lib/partials/navigation/campaigns/navlist.html'">
        </div>
        <div class="span9 container-fluid">
          <div ng-controller="MainController">
            <div ng-view></div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
